<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; <a href="#"> Blog </a> by <a href="#">ROR Developer</a>
		</small>
		<nav>
			<ul>
				<li> <%= link_to "About", about_path %></li>
			</ul>
		</nav>
	</footer>
</div>